.env
.env.*
!.env.example
.venv/
venv/
__pycache__/
*.pyc
*.log
*.db
target/
build/
.dart_tool/
.idea/
*.iml
.flutter-plugins-dependencies
**/uploads/
**/knowledge_base/*
!**/knowledge_base/.gitkeep
**/android/app/google-services.json
**/serviceAccountKey.json
**/serviceAccontKey.json
best.pt
Service_Chat_Boot/ai_platform_session
__pycache__/
*.py[cod]